@import "tailwindcss";

.Navigation {
  margin: 0;
}

.log {
  color: rgb(82, 72, 72);
}

.profile-dropdown {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.profile-dropdown.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}